%h4.prepend-top-20
  Contributions for
  %strong= @calendar_date.to_s(:short)

- if @events.any?
  %ul.bordered-list
    - @events.sort_by(&:created_at).each do |event|
      %li
        %span.light
          %i.fa.fa-clock-o
          = event.created_at.to_s(:time)
        - if event.push?
          #{event.action_name} #{event.ref_type} #{event.ref_name}
        - else
          = event_action_name(event)
          - if event.note?
            %strong= link_to event.note_target.to_reference, event_note_target_path(event)
          - elsif event.target
            %strong= link_to event.target.to_reference, [event.project.namespace.becomes(Namespace), event.project, event.target]

        at
        %strong
          - if event.project
            = link_to_project event.project
          - else
            = event.project_name
- else
  %p
    No contributions found for #{@calendar_date.to_s(:short)}
